<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite verbose="1" name="Zoopla Application"
	parallel="tests">
	<test name="Zoopla_HomePageTest">
		<classes>
			<class
				name="com.Selenium_Coding_Assignment.PageTestClass.ZooplaHomePageTest" />
		</classes>
	</test>


	<test name="Property">
		<classes>
			<class
				name="com.Selenium_Coding_Assignment.PageTestClass.PropertySalesPageTest" />
		</classes>
	</test>

	<test name="Agent_Details">
		<classes>
			<class name="com.Selenium_Coding_Assignment.PageTestClass.AgentPageTest" />
		</classes>
	</test>
</suite>